@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
  margin: 0;
  padding: 0;
  border: none;
}

body{
  
    font-family: 'Oswald', sans-serif;
    color: #A43F2D;
    background-color: white;
    letter-spacing: 5px;
  }
  
  .header-background{
  
    color:#A43F2D;
    text-align: center;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    background-image: url("../images/vasen.jpeg");
    background-size: 30%;
    background-repeat: no-repeat;   
}


/* nav bar*/
  
nav{
  border: 5px groove;
  background-color: #A43F2D;
  color: white;
  font-size: 100%;
  line-height: 250%;
  transition: all .3s ease-in-out;  
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
  }
  
  nav li {
    
    padding: 0 10% 0 10%; 
    margin: 0;
    flex: auto;
  }
   
  nav a {
    text-decoration: none;
    color: white;
  }
  
  nav li:hover{
    background-color:white; 
    color:#A43F2D;
  }

  nav li:hover > a{
    color:#A43F2D;
  }







  /*welcome section*/

        #welcome{
          background-size: cover;
          background-position: center;
          text-align: center;
          
   
    
          /* Animates zoom effect on loading the page */
          animation-name: welcome-zoom;
          animation-duration: 5s;
          animation-fill-mode: forwards;
        }

       
      
      /* Creates the level of zoom for welcome image */
      @keyframes welcome-zoom {
          from{
              transform: scale(0.8);
          }
          to{
              transform: scale(1.0);
          }


      }

      #welcomeimage {
        height: auto;
        width: 100%;    
      }


      #welcometext{
        text-align: center;
        padding: 0;
        font-size: 300%;
        color: #A43F2D;
        margin: 0;   
      } 
      

/* books section*/

#books{
  height: auto;
  margin: 5%;
  padding-top: 0;
  display: flex;
  justify-content: space-around;
}

#books div {
  color: #A43F2D;
  text-align: center;
  padding: 0;
  width: 100%;
}


.lyktgubben{

  width: 33%;
}

.bestar{

  width: 33%;
}

.vasenivartid{

 width: 33%;
}

#books h4{
  padding: 5%;
  text-transform: uppercase;
}

#books h5{
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  padding: 3% 10% 3% 10%;
}

     

/* about section*/

   #about{
    height: auto;
    background-color: #A43F2D;
    border: 5px groove;
    color: white;
    margin: 5% 5% 200px 5%;
    padding-top: 0;
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
 }

 #left-about{
    padding-top: 3%;
    width: 33%;
  
 }

 #center-about{
  
    padding-top: 0;
    width: 33%;

 }

 #right-about{
    padding-top: 0;
    width: 33%;
    
    
 }

 .right-about-text, .center-about-text{
    margin-top: 25%;
    width: 80%;
    line-height: 130%;  
    text-align: left;
    font-family: 'Lato', sans-serif;
 }


 #description{
    text-align: center;
    padding-bottom: 5%;
    font-size: 150%;
    padding-left: 5%;
 }

 #circle-container{
    width: 250px;
    height: 250px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
 }

 #circle-cover-bg{
    background: url('../images/torjager.jpeg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
 }

    
  
    
/*footer*/
  
  footer {
      color:white;
      background-color: #A43F2D;
      padding: 1%;
      text-align: center;
      width: 100%;
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 4;
      border: 5px groove;
      height: 6%;
  }

  
  footer > span {
    font-size: 100%;
  
  }
  
  footer > a {
    color: white;
    text-decoration: none;
    padding: 0 10%;
    font-size: 120%;
  }

  footer > p {
  
    font-size: 50%;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0;
  }
  
  
/* Gallery Photos */

#photo {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 0px;
  margin-bottom: 5%;
}

#photo img{
  width: 100%;
}

 /*contact section*/

 .contact-section {
  clear: left;
  background: url("../images/jatten.jpeg");
  background-size: cover;
  background-position: center;
  height: 1700px;

  
  
  
    /* Animates zoom effect on loading the page */
    animation-name: giant-zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

/* Creates the level of zoom for giant image */
@keyframes giant-zoom {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
    
}

  
/* contact form*/
 
 .contact-form {
  margin: 10% 10% 0 0px;
  color: #fff;
  background-color: rgba(60, 60, 60, 0.6);
  max-width: 400px;
  position: absolute;
  left: 10%;
  padding: 30px;
}

.contact-form > h2 {
  color: white;
  margin-bottom: 20px;
}

.text-input {
  background: transparent;
  color: white;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid white;
  border-radius: 2px;
}

.text-input:hover, #message:hover{
  border-color:  #A43F2D;
}

.contact-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color:  #A43F2D;
  color: white;
  display: block;
}

.contact-button:hover {
  background-color: white;
  color:  #A43F2D;
}

#message{
  background-color: rgba(60, 60, 60, 0.1);
  margin-top: 10px;
  border: 1px solid white;
  width: 100%;
}

input[type=submit] {
margin-top: 20px;
margin-left: 0.75rem;
padding: 0.75rem;
background-color: #A43F2D;
color: white;
border: groove;
border-radius: 7px;
}





/* For screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
  .header-background{
    background-image: none;     
}




}

/* For screens sizes from 950px wide and down */
@media screen and (max-width: 950px){


  nav ul{
    flex-direction: column;
  }
  
  nav ul li{
    text-align: center;
  }

  nav li {
    border: 0.5px groove;
  }
  
  
  #books{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    }

    #books div { 
      padding: 5%;
     
    }

    #books h4{
      padding: 2%;
    }
   

  #about{
  flex-direction: column;
  margin: 1%;
  justify-content: center;
  align-items: center;
  padding: 0 0 10% 0;
  margin-bottom: 20%;
  }
  
  #center-about, #right-about{  
    width: 100%; 
    margin-left: 10%; 
    
 }

 #left-about{
  width: 100%;
  margin-bottom: 5%;
 }

 .left-about-text, .center-about-text, .right-about-text{
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 150%;
 }

  #circle-containe{
    width: 200px;
    height: 200px;  
 
  }

}

/* For screens sizes from 768x wide and down */
@media screen and (max-width: 768px){


#books h4{
  padding-top:5%;
}

#photo{
  column-count: 1;
}

.contact-form{
  width: 70%;
}


footer > a{
  padding: 0 8%;
}


}

/* For screens sizes from 480x wide and down */
@media screen and (max-width: 481px){
  
  
  footer > a{
    padding: 0 5%;
  }

  }



  /* For screens sizes from 380 wide and down */
@media screen and (max-width: 380px){
  
   
  nav li {
  padding: 0;
  }

  }
