@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
  margin: 0;
  padding: 0;
  border: none;
 
}


body{
  
    font-family: 'Oswald', sans-serif;
    color: #A43F2D;
    background-color: white;
    letter-spacing: 5px;
  }
  
  .header-background{
  
    color:#A43F2D;
    text-align: center;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    background-image: url("../images/vasen.jpeg");
    background-size: 30%;
   background-repeat: no-repeat;
  
}


  /* nav bar*/
  
  nav{
    border: groove;
  }
  
  nav ul {
      list-style: none;
      background-color: #A43F2D;
      text-align: center;
      padding: 0;
      margin: 0;
    }
    
    nav li {
      font-size: 1em;
      line-height: 40px;
      display: inline-block;
      color: white;
      padding: 0 120px 0 120px; 
      margin: 0;
    }
     
    nav a {
      text-decoration: none;
      color: white;
      display: block;
    }
    
    nav a:hover {
      background-color:white;
      color: #A43F2D;
    }

        /*welcome section*/

        #welcome{
          background-image: url("/assets/images/ww1.jpeg");
          background-size: cover;
          background-position: center;
          height: 1200px;
          max-width: 100%;
         
          
    
          /* Animates zoom effect on loading the page */
          animation-name: welcome-zoom;
          animation-duration: 5s;
          animation-fill-mode: forwards;
        }
      
      
      /* Creates the level of zoom for welcome image */
      @keyframes welcome-zoom {
          from{
              transform: scale(0.8);
          }
          to{
              transform: scale(1.0pyt);
          }
          
      }
      #welcome h1 {
        text-align: center;
        padding-top: 150px;
        font-size: 300%;
        color: white;
        
      }

/* books section*/

#books{
  max-height: auto;
  margin: 0 100px 0 100px;
  padding-top: 0;
  display: flex;
  justify-content: space-around;
  
}

#books div {
  color: #A43F2D;
  text-align: center;
  
}



.lyktgubben{
  background: url("../images/lyktgubben.jpeg") no-repeat center center;
  width: 33%;
}

.bestar{
  background: url("../images/bestar.jpeg") no-repeat center center;
  width: 33%;
}

.vasenivartid{
  background: url("../images/vasen-i-var-tid.jpeg") no-repeat center center;
  width: 33%;
}
     


   /* about section*/

   #about{
    height: auto;
    background-color: #A43F2D;
    border: 5px groove;
    color: white;
    margin: 100px;
    padding-top: 0;
    display: flex;
    justify-content: space-around;
 }

 #left-about{
    padding-top: 3%;
    width: 33%;
  
 }

 #center-about{
  
    padding-top: 0;
    width: 33%;

 }

 #right-about{
    padding-top: 0;
    width: 33%;
    
    
 }

 .right-about-text, .center-about-text{
    margin-top: 80px;
    width: 80%;
    /*float: left;*/
    line-height: 20px;
    margin-bottom: 40px;
    text-align: left;
    font-family: 'Lato', sans-serif;
  
 }

 #description{
    text-align: center;
    padding-bottom: 5%;
    font-size: 150%;
 }

 #circle-container{
    width: 250px;
    height: 250px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
 }

 #circle-cover-bg{
    background: url('../images/torjager.jpeg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
 }


    
  
    
    /*footer*/
  
  footer {
      color:white;
      background-color: #A43F2D;
      padding: 1em;
      text-align: center;
      width: 100%;
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 4;
      border: groove;
      height: 4%
  }

  
  footer > span {
    font-size: 100%;
    text-align: right;
  
  }
  
  footer > a {
    color: white;
    text-decoration: none;
    padding: 0 100px;
    font-size: 1rem;
  }
  
  footer > p {
  
    font-size: 0.5rem;
    text-align: center;
  }
  
  
 /* Gallery Photos */

#photo {
  clear: both;
  line-height: 0;
  column-count: 2;
  column-gap: 0px;
}

#photo img{
  width: 100%;
}


 /*contact section*/

 .contact-section {
  clear: left;
  background: url("../images/jatten.jpeg");
  background-size: cover;
  background-position: center;
  height: 1700px; 
  
  
    /* Animates zoom effect on loading the page */
    animation-name: giant-zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }


/* Creates the level of zoom for giant image */
@keyframes giant-zoom {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
    
}

  
  /* contact form*/
 
 .contact-form {
  margin: 150px 10% 0 0px;
  color: #fff;
  background-color: rgba(60, 60, 60, 0.6);
  max-width: 400px;
  position: absolute;
  left: 10%;
  padding: 30px;
}

.contact-form > h2 {
  color: white;
  margin-bottom: 20px;
}

.text-input {
  background: transparent;
  color: white;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid white;
  border-radius: 2px;
}

.text-input:hover, #message:hover{
  border-color:  #A43F2D;
}

.contact-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color:  #A43F2D;
  color: white;
  display: block;
}

.contact-button:hover {
  background-color: white;
  color:  #A43F2D;
}

#message{
  background-color: rgba(60, 60, 60, 0.1);
  margin-top: 10px;
  border: 1px solid white;
}


input[type=submit] {
margin-top: 20px;
margin-left: 0.75rem;
padding: 0.75rem;
background-color: #A43F2D;
color: white;
border: groove;
border-radius: 7px;
}


/* For screens sizes from 1024px wide and down */
@media screen and (max-width: 1024px){
  .header-background{
    background-image: none;     
}

#welcome{
  height: 600px;
}

#welcome h1 {
  padding-top: 60px;
  font-size: 100%;
}

.header-background{
background-image: none;
}

nav li {
padding: 0 60px 0 60px;
}

#about{
  margin: 2%;
  }

}

/* For screens sizes from 950px wide and down */
@media screen and (max-width: 950px){

  
  #books{
    flex-direction: column;
    margin: 1%;
    }

  #about{
  flex-direction: column;
  margin: 1%;
  }
  
  #center-about, #right-about{
    
    width: 100%; 
    margin-left: 10%; 
    
 }

 #left-about{
  width: 100%;
 }

 .left-about-text, .center-about-text, .right-about-text{
  text-align: center;
 }

  #circle-containe{
    width: 200px;
    height: 200px;  
 
  }

}

/* For screens sizes from 768x wide and down */
@media screen and (max-width: 768px){
#welcome{
  height: 480px;
}

#welcome h1 {
  padding-top: 50px; 
}

.header-background{
background-image: none;
}

nav li {
padding: 0 20px 0 20px;
}

}

/* For screens sizes from 480x wide and down */
@media screen and (max-width: 481px){
  #welcome{
    height: 300px;
  }
  
  #welcome h1 {
    padding-top: 20px; 
  }
  
  
  nav li {
  padding: 0 10px 0 10px;
  }

  }


  /* For screens sizes from 480x wide and down */
@media screen and (max-width: 481px){
  #welcome{
    height: 300px;
  }
  
  #welcome h1 {
    padding-top: 20px; 
  }
  
  
  nav li {
  padding: 0 10% 0 10%;
  }

  }

  /* For screens sizes from 320 wide and down */
@media screen and (max-width: 320px){
  #welcome{
    height: 200x;
  }
  
   
  nav li {
  padding: 0;
  }

  }
